/* Genshin Impact: Twitch Redeem Wisher v1.0 by honganqi */
/* https://github.com/honganqi/GenshinImpact-TwitchRedeemWish */

@font-face {
	font-family: "genshin";
	src: url("../fonts/zh-cn.ttf") format("truetype");
}
html, body {margin: 0; padding: 0; font-family: "genshin"; color: #fff; text-shadow: 0 0 25px rgba(0,0,0,1);}
h1 {margin: 0; padding: 0; text-align: center; font-size: 4rem; position: relative;}
#wrapper { }
#container {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: absolute;
	overflow: hidden;
}
#container img#character {
	animation: wishAppear 5s steps(100, end) forwards;
	transform-origin: center;
	display: block;
	margin: 0 auto;
	height: 100%;
	max-width: 100%;
}
#container h1#name {
	animation: nameAppear 0.8s steps(100, end) forwards;
	animation-delay: 1s;
	animation-timing-function: ease;
	position: absolute;
	top: 633px;
	left: 329px;
	opacity: 0;
	z-index: 10;
}
#container h2#redeemer {
	animation: nameAppear 1.5s steps(100, end) forwards;
	animation-delay: 3.5s;
	animation-timing-function: ease;
	position: absolute;
	top: 723px;
	left: 329px;
	opacity: 0;
	z-index: 10;
}
#container h2#redeemer::before {
	content: "redeemed by\A";
	white-space: pre;
}
#container h2#redeemer span#actual_name {
	font-size: 2.5rem;
}
#container img#element {
	animation: nameAppear 0.6s steps(100, end) forwards;
	animation-delay: 1.2s;
	animation-timing-function: ease;
	width: 158px;
	height: 158px;
	position: absolute;
	top: 582px;
	left: 209px;
	opacity: 0;
	filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.8));
}
#container div#stars {
	position: absolute;
	top: 703px;
	left: 329px;
	filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.8));
}
#container div#stars img {
	animation: starAppear 0.3s steps(100, end) forwards;
	animation-delay: 1.0s;
	width: 26px;
	height: 26px;
	display: inline-block;
	opacity: 0;
	transform: scale(10);
}
#container.exit {
	animation: genshinExit 0.3s steps(100, end) forwards;
}


@keyframes wishAppear {
	0% {filter: brightness(0) blur(20px); transform: scale(10) translate(0, 0);}
	10% {filter: brightness(0) blur(0); transform: scale(1) translate(0, 0);}
	20% {filter: brightness(0) blur(0); transform: scale(1) translate(0, 0);}
	28% {filter: brightness(0) blur(0); transform: scale(1) translate(50px, 0);}
	30% {filter: brightness(0) blur(0); transform: scale(1) translate(50px, 0);}
	40% {filter: brightness(1.0) blur(0); transform: scale(1) translate(50px, 0);}
	100% {filter: brightness(1.0) blur(0); transform: scale(1) translate(50px, 0);}
}
@keyframes nameAppear {
	0% {opacity: 0; transform: translate(50px,0);}
	100% {opacity: 1; transform: translate(0,0);}
}
@keyframes starAppear {
	0% {opacity: 0; transform: scale(10);}
	100% {opacity: 1; transform: scale(1)}
}
@keyframes genshinExit {
	0% {transform: scale(1); opacity: 1;}
	100% {transform: scale(10); opacity: 0;}
}